// Generali
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

// Icon svg
// -----------------------------------------------
.icon-white{
  fill: $white-color;
  margin-right: 4px;
}
// -----------------------------------------------

// Carousel setting
// -----------------------------------------------
.btn-white{
  background-color: $white-color;
  color: $orange-color;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  padding-top: 16px;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next{
  width: 0;
  opacity: 1;
}

.carousel-control-prev{
  .btn-white{
    transform: rotate(90deg);
    position: absolute;
    left: -60px;
  }
}
.carousel-control-next{
  .btn-white{
    transform: rotate(-90deg);
    position: absolute;
    right: -60px;
  }
}
// -----------------------------------------------
