// General
body {
  font-family: $primary-font;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
  color: $title-color;
}

.bg-star h1,
.bg-star h2,
.bg-star h3,
.bg-star h4,
.bg-star h5,
.bg-star h6{
  color: $primary-color;
}

p{
  font-family: $secondary-font;
  color: $p-color;
}