$primary-color: #ffffff;

$secondary-color: #d2401e;
$dark-secondary-color: #ab4027;

$p-color: #8c8c8c;

$important-color: #b7903c;

$quote-color: #339966;

$dot-color: #d1d4d8;

$title-color: #303030;

$bg-brands: #f7f7f2;

$old-price-color: #d3cfaf;
$new-price-color: #d2401e;

$primary-font: 'Oswald', sans-serif;
$secondary-font: "Noto Sans", sans-serif;