
$dark-grey-color: #181818;
$white-color: #ffffff;
$orange-color: #d2401e;
$gold-color: #b7903c;
$dark-orange-color: #ab4027;
$light-grey-color: #8c8c8c;
$green-cyan-color: #339966;
$dot-color: #d1d4d8;